body {
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(180deg, hsl(0, 0%, 100%), hsl(0, 0%, 35%));
    /*background-color: #f9f9f9;*/
}
header {
    background: hwb(68 56% 0%);
    width: 100vw;
}
main {
    width: 100vw;
}
nav button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    /*cursor: pointer;*/
    font-size: 16px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 12px 16px;
    color: #fff;
    background: hsl(211, 73%, 65%);
    border-radius: 5px;
    margin: 10px;
    width: 25vw;
}