/*
#custom-loader {
    width: 50px;
    height: 50px;
    border: 5px solid lightgray;
    border-top: 5px solid blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*/
body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Calibri', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    width: 100vw;
    text-align: center;
    /*background-image: linear-gradient(180deg, #ffffff, #68f860);*/
    background: #fff;
}
h1 {
    font-size:6vw;
    margin: 20px 0 0px;
}
header {
    background: #fff;
    padding: 10px 0;
}
header img {
    width: 90%;
    height: auto;
}
main nav {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
nav button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto, Verdana, Tahoma, sans;
    padding: 14px 16px;
    color: #000000;
    background-image: linear-gradient(185deg, #ffa2a2, #ff5f51);
    margin: 0px 0 0 0;
}
nav button:active {
    background: #ff6f61;
}
#products {
    padding: 10px 0 0 0;
}
#products p {
    text-align: justify;
    padding: 0px 15px;
}
#products h2 {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    font-size: 5vw;
    margin: 0;
}
h3 {
    font-size: 4vw;
    margin: -20px 0 20px 0;
}
footer {
    color: #dbdbdb;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px 20px 0 0;
    background-image: linear-gradient(#373737, #121212);

}
.units {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 25px 0;
    grid-template-columns: repeat(2, 1fr);
}
.units li {
    min-height: 200px;
    background: #fff;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.unit:first-child {
    background-image: url('img/5x3.jpg');
}
.unit:nth-child(2) {
    background-image: url('img/50.jpg');
}
/* Использовать медиа запрос, чтобы добавить точку останова на 800 пикселей: */
@media screen and (min-width: 800px) {
    main nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .units {
        grid-template-columns: repeat(4, 1fr);
    }
}