body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    text-align: center;
    background-image: linear-gradient(180deg, #f95f5f, #ddd 40%, #ccc);
    /*background-color: #f9f9f9;*/
}
header {
    background: hwb(68 56% 0%);
    width: 100vw;
    max-width: 1024px;
    margin: 0 auto;
}
main {
    width: 100vw;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
}
nav button {
    background: hsl(211, 73%, 65%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    width: 30vw;
}